<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ООО &quot;НИТ&quot; - Блог |</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href='{% static "nit/assets/img/favicon.png" %}' rel="icon">
  <link href='{% static "nit/assets/img/apple-touch-icon.png" %}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href='{% static "nit/assets/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "nit/assets/vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
  <link href='{% static "nit/assets/vendor/aos/aos.css" %}' rel="stylesheet">
  <link href='{% static "nit/assets/vendor/remixicon/remixicon.css" %}' rel="stylesheet">
  <link href='{% static "nit/assets/vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">
  <link href='{% static "nit/assets/vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{% static "nit/assets/css/style.css" %}' rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href='{% url "home" %}' class="logo d-flex align-items-center">
        <img src='{% static "nit/assets/img/logo.png" %}' alt="">
         <span>НИТ</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href='{% url "home" %}'>Главная</a></li>
          <li><a href='{% url "blog" %}'>Блог</a></li>
            <li><a href='{% url "calculator" %}'>Калькулятор</a></li>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href='{% url "home" %}'>Главная</a></li>
          <li>Блог</li>
        </ol>
        <h2>Блог</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
  {% block content %}
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

              {% for el in blog %}
                  <div class="alert alert-warning">
                  <h3>{{ el.title }}</h3>
                  <p>{{ el.anons }}</p>


                  </div>



              {% endfor %}
          {% endblock %}




              <h2 class="entry-title">

              </h2>

              <div class="entry-meta">
                <ul>

                </ul>
              </div>

              <div class="entry-content">
                <p>

                </p>
                <div class="read-more">
                  <a href='{% url "blog-single" %}'></a>
                </div>
              </div>

            </article><!-- End blog entry -->







          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Поиск</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Категории</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">Главное <span>(25)</span></a></li>
                  <li><a href="#">Образование <span>(14)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Свежие записи</h3>
              <div class="sidebar-item recent-posts">


              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Теги</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">Приложения</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Бизнес</a></li>
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
             <h4>Подпишитесь для рассылки вам новостей и информации об акциях, новинках и услугах!</h4>
            <p>Новинки, акции, закрытые распродажи – не чаще четырёх раз в неделю</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
                  {% csrf_token %}
                 {{ form }}
              <input type="email" name="email"><input type="submit" value="Подписаться">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href='{% url "home" %}' class="logo d-flex align-items-center">
              <img src='{% static "nit/assets/img/logo.png" %}' alt="">
              <span>ООО "НИТ"</span>
            </a>
            <p>Следи за нами в наших социальных сетях!</p>
            <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#" class="vk"><i class="fa fa-vk" aria-hidden="true"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Полезные ссылки</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href='{% url "home" %}'>Главная</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href='{% url "home" %}'>Условия обслуживания</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href='{% url "home" %}'>Политика конфиденциальности</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4></h4>
            <ul>

            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Наши контакты</h4>
            <p>
             Комсомольская ул., 26 <br>
              Оренбург, Оренбургская обл., 460000<br>
              Российская Федерация <br><br>
              <strong>Номер:</strong> +7 (3532) 430-460<br>
              <strong>Email:</strong> info@nitshop.ru<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Муртазин Тимур</span></strong>. Все права защищены
      </div>
      <div class="credits">

        Сделано <a href="vk.com/rndv1">Муртазиным Тимуром 17-ПКС-2</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src='{% static "nit/assets/vendor/bootstrap/js/bootstrap.bundle.js" %}'></script>
  <script src= '{% static "nit/assets/vendor/aos/aos.js" %}'></script>
  <script src='{% static "nit/assets/vendor/php-email-form/validate.js" %}'></script>
  <script src= '{% static "nit/assets/vendor/swiper/swiper-bundle.min.js" %}'></script>
  <script src='{% static "nit/assets/vendor/purecounter/purecounter.js" %}'></script>
  <script src= '{% static "nit/assets/vendor/isotope-layout/isotope.pkgd.min.js" %}'></script>
  <script src='{% static "nit/assets/vendor/glightbox/js/glightbox.min.js" %}'></script>

  <!-- Template Main JS File -->
  <script src= '{% static "nit/assets/js/main.js" %}'></script>

</body>

</html>